# Predicting whether a passenger survived the Titanic incident.

In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn.linear_model import LogisticRegression

In [44]:
training_data=pd.read_csv('0000000000002429_training_titanic_x_y_train.csv')
testing=pd.read_csv('0000000000002429_test_titanic_x_test.csv')

In [45]:
training = training_data.copy()
training

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.0000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.0000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...
663,2,"Ilett, Miss. Bertha",female,17.0,0,0,SO/C 14885,10.5000,NaN,S,1
664,3,"Morrow, Mr. Thomas Rowan",male,NaN,0,0,372622,7.7500,NaN,Q,0
665,3,"Bing, Mr. Lee",male,32.0,0,0,1601,56.4958,NaN,S,1
666,3,"Strandberg, Miss. Ida Sofia",female,22.0,0,0,7553,9.8375,NaN,S,0
667,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q,1

In [46]:
# training.info()
training = training.drop(['Ticket'], axis=1)
training = training.drop(['Name'], axis=1)
# training = training.drop(['Fare'], axis=1)
training = training.drop(['Cabin'], axis=1)
# training['Age'].mean()
training=training.fillna(training.median())
training = training.fillna({"Embarked": "S"})
embarked_mapping = {"S": 1, "C": 2, "Q": 3}
training['Embarked'] = training['Embarked'].map(embarked_mapping)
# training.loc[training['Embarked']==' ', 'Embarked']=4
# training.Age.fillna(training.Age.mean(),inplace=True)
training.Sex[training.Sex=='female']=0
training.Sex[training.Sex=='male']=1

D:\installation\anaconda\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
D:\installation\anaconda\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [47]:
# training['Embarked'].value_counts()
# training = training.reset_index()

In [48]:
training.values

array([[2, 0, 29.0, ..., 26.0, 1, 1],
       [3, 1, 29.0, ..., 8.05, 1, 0],
       [2, 1, 39.0, ..., 26.0, 1, 0],
       ...,
       [3, 1, 32.0, ..., 56.4958, 1, 1],
       [3, 0, 22.0, ..., 9.8375, 1, 0],
       [3, 0, 29.0, ..., 15.5, 3, 1]], dtype=object)

In [49]:
train = training.values
x=train[:, :-1]
y=train[:, -1]
y=y.astype('int')

In [50]:
# x,y

In [51]:
# testing.info()
testing = testing.drop(['Ticket'], axis=1)
testing = testing.drop(['Name'], axis=1)
# testing = testing.drop(['Fare'], axis=1)
testing = testing.drop(['Cabin'], axis=1)
# testing['Age'].mean()
# testing.Age.fillna(testing.Age.mean(),inplace=True)
testing = testing.fillna(testing.median())
testing = testing.fillna({"Embarked": "S"})
embarked_mapping = {"S": 1, "C": 2, "Q": 3}
testing['Embarked'] = testing['Embarked'].map(embarked_mapping)
testing.Sex[testing.Sex=='female']=0
testing.Sex[testing.Sex=='male']=1

D:\installation\anaconda\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
D:\installation\anaconda\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [52]:
testing

     Pclass Sex   Age  SibSp  Parch      Fare  Embarked
0         2   1   8.0      1      1   36.7500         1
1         1   0  49.0      0      0   25.9292         1
2         3   1  27.0      0      0    7.7375         3
3         2   0  24.0      2      1   27.0000         1
4         1   1  36.0      0      0   26.2875         1
..      ...  ..   ...    ...    ...       ...       ...
218       3   1  20.0      1      0    7.9250         1
219       1   1  45.0      0      0   26.5500         1
220       1   0  17.0      1      0  108.9000         2
221       3   1  43.0      0      0    6.4500         1
222       2   1  36.5      0      2   26.0000         1

[223 rows x 7 columns]

In [53]:
# 'liblinear', 'newton-cg', 'lbfgs', 'sag', 'saga'
clf = LogisticRegression(solver='liblinear')
clf.fit(x,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [54]:
clf.score(x,y)

0.7964071856287425

In [55]:
Y_test=clf.predict(testing)

In [56]:
clf.score(testing,Y_test)

1.0

In [57]:
np.savetxt("Titanic_prediction.csv",Y_test,delimiter = ",")