# Given Twitter US Airline Sentiment Dataset, which contains data for over 14000 tweets, task is to predict the sentiment of the tweet i.e. positive, negative or neutral.

In [58]:
from nltk.tokenize import sent_tokenize,word_tokenize
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk import pos_tag
from nltk.stem import WordNetLemmatizer
from nltk.stem import wordnet
import random
import nltk

In [59]:
import numpy as np
import pandas as pd
training_data=pd.read_csv('0000000000002747_training_twitter_x_y_train.csv')
testing_data=pd.read_csv('0000000000002747_test_twitter_x_test.csv')

In [60]:
training_data[0:5]

,tweet_id,airline_sentiment,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,567900433542488064,negative,Southwest,NaN,ColeyGirouard,NaN,0,"@SouthwestAir I am scheduled for the morning, ...",NaN,2015-02-17 20:16:29 -0800,Washington D.C.,Atlantic Time (Canada)
1,569989168903819264,positive,Southwest,NaN,WalterFaddoul,NaN,0,@SouthwestAir seeing your workers time in and ...,NaN,2015-02-23 14:36:22 -0800,"Indianapolis, Indiana; USA",Central Time (US & Canada)
2,568089179520954368,positive,United,NaN,LocalKyle,NaN,0,@united Flew ORD to Miami and back and had gr...,NaN,2015-02-18 08:46:29 -0800,Illinois,Central Time (US & Canada)
3,568928195581513728,negative,Southwest,NaN,amccarthy19,NaN,0,@SouthwestAir @dultch97 that's horse radish üò§üê¥,NaN,2015-02-20 16:20:26 -0800,NaN,Atlantic Time (Canada)
4,568594180014014464,negative,United,NaN,J_Okayy,NaN,0,@united so our flight into ORD was delayed bec...,NaN,2015-02-19 18:13:11 -0800,NaN,Eastern Time (US & Canada)

In [61]:
training_documents=training_data['text'].values
training_categories=training_data['airline_sentiment'].values
testing_documents=testing_data['text'].values

In [76]:
from sklearn.ensemble import RandomForestClassifier
from nltk.classify.scikitlearn import SklearnClassifier
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [91]:
count_vect=CountVectorizer(max_features=1500, decode_error='ignore',strip_accents='ascii')
x_train=count_vect.fit_transform(training_documents)
x_test=count_vect.transform(testing_documents)
y_train=training_categories

In [92]:
clf = SVC(kernel='rbf', C=0.3)
clf.fit(x_train,y_train)
y_pred = clf.predict(x_test)
print(accuracy_score(y_test,y_pred))

0.9311475409836065

In [65]:
np.savetxt(fname='twitter_pred.csv', X=y_test, fmt='%s')

In [66]:
pred_t=pd.read_csv('twitter_pred.csv')

In [67]:
pred_t

      negative
0     negative
1     negative
2     negative
3     positive
4     negative
...        ...
3654  negative
3655  negative
3656  negative
3657  positive
3658  negative

[3659 rows x 1 columns]